---
layout: default
title: 공부

---

<div class="menuhead">
    <p>내가 배우고, 익히는 것들</p>
    <!-- <p class="menuhead-eng">Things that i learn and study</p> -->
</div>

<div class="catalogue">
    
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}

  {% assign sorted = site.posts | sort: 'order' %}
  {% for post in sorted %}
    {% if post.menu == "공부" %}
      {% include catalogue_item.html %}
    {% endif %}
  {% endfor %}
</div>
