---
layout: default
title: "감상"
description: 나의 생각, 느낌들

---
<div class="menuhead">
    <!-- <p>내가 생각하고, 느끼는 것들</p>  -->
    <!-- <p class="menuhead-eng">My thoughts and feelings</p> -->
</div>

<div class="catalogue">
    
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}

  {% assign sorted = site.posts | sort: 'order' %}
  {% for post in sorted %}
    {% if post.menu == "감상" %}
      {% include catalogue_item.html %}
    {% endif %}
  {% endfor %}
</div>
