---
layout: default
title: 일상
description: 나의 일상, 경험들



---

<div class="menuhead">
    <p>나의 일상, 경험들 </p>
    <p class="menuhead-eng">Daily life, and what I experienced.</p>
</div>

<div class="catalogue">
    
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}

  {% assign sorted = site.posts | sort: 'order' %}
  {% for post in sorted %}
    {% if post.menu == "일상" %}
      {% include catalogue_item.html %}
    {% endif %}
  {% endfor %}
</div>

