---
layout: default
---

<div class="post">
  <div class="post-info">
  
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  
  
  {{ content }}
  
  </div>

  <div class="social">
    <a href='mailto:songhoon1217@gmail.com'>
      <ion-icon name="mail-outline" class="social-icon"></ion-icon>
    </a>
    <a href='https://github.com/songh-oon/'>
        <ion-icon name="logo-github" class="social-icon"></ion-icon>
    </a>
    <a href='https://www.instagram.com/songhoon_kim_'>
        <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
    </a>
  </div>
  
    
  <div class="pagination">
  <a href="#" class="top">Top</a>
</div>